@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.intro_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.intro_text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

.intro_text_card span {
  background: rgb(192, 166, 49);
  color: rgb(255, 255, 255);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.intro_name {
  font-size: 50px;
  font-weight: 600;
  color: rgb(68, 68, 68);
  margin-block: 20px;
}

.typed_text {
  text-transform: capitalize;
  color: rgb(30, 159, 171);
}

.intro_text_info {
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(68, 68, 68);
}

.itro_text_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.itro_text_btn > .intro_btn {
  background: rgb(110, 87, 224);
  color: rgb(255, 255, 255);
}

.itro_text_btn > .intro_btn:hover {
  background: rgb(40, 91, 212);
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
  gap: 30px;
}

.intro_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.intro_icon:hover {
  color: rgb(110, 87, 224);
}

.intro_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 80vh;
  width: 50%;
}

.image {
  margin: auto 0;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: imgFloat 7s ease-in-out infinite;
          animation: imgFloat 7s ease-in-out infinite;
}

.image img {
  width: 380px;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .intro_text {
    padding: 0;
  }
  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}
@media only screen and (max-width: 900px) {
  .intro_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .intro_text {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    min-height: 60vh;
  }
  .social_icons {
    margin-top: 2em;
  }
  .intro_image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }
  .image,
  .image img {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .intro_name {
    font-size: 40px;
  }
}