@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  padding-block: 40px 60px;
}

.middle_footer .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_menu_list {
  list-style: none;
}
.footer_menu_list a {
  text-decoration: none;
  color: var(--text-color-second);
  font-weight: 500;
  margin-inline: 30px;
}

.footer_social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.bottom_footer {
  font-size: 14px;
  margin-top: 10px;
}

/* Mobile */
@media (max-width: 480px) {
  .footer_menu_list > a {
    margin-inline: 10px;
  }
}