@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.typed-out {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid;
  border-color: black !important;
  background-color: red;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}