@use "./variables.scss" as *;

.intro_box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}
.intro_text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 60%;
}
.intro_name {
  font-size: 50px;
  font-weight: 600;
  color: $text-color-second;
  margin-block: 20px;
}
.typed_text {
  color: $text-point-third;
}

.intro_text_info {
  font-size: 15px;
  color: $text-color-second;
  ul {
    list-style: inside;
    li > span {
      font-weight: 600;
    }
  }
}
.social_icons {
  display: flex;
  margin-top: 2em;
  gap: 30px;
  .intro_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }
}

.intro_image_conatiner {
  display: flex;
  justify-content: right;
  align-content: center;
  min-height: 80vh;
  width: 40%;
}
.intro_image {
  margin: auto 0;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 380px;
    height: 380px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1024px) {
  .intro_text {
    padding: 0;
  }
  .intro_image,
  .intro_image img {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 900px) {
  .intro_box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .intro_text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }
  .social_icons {
    margin-top: 2em;
    justify-content: center;
  }
  .intro_image_conatiner {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }
  .intro_image,
  .intro_image img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 540px) {
  .intro_name {
    font-size: 40px;
  }
}
