@use "./variables.scss" as *;

.timeline_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px solid $color-gray;
  .timeline_list_item {
    margin: 0 0 2rem 2rem;
  }
  .timeline_circle {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $color-white;
    border-radius: 50%;
    margin-top: 0.375rem;
    left: -0.25rem;
    border: 1px solid $color-gray;
  }
  .timeline_content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.875rem;
    .timeline_sub_title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .timeline_title {
        font-size: 1.3rem;
        font-weight: 600;
        color: $text-point-third;
        margin-block: auto;
        a {
          display: inline;
        }
      }
      .timeline_company {
        font-size: 1rem;
      }
      .timeline_duration {
        // margin-block: auto;
        margin-top: 10px;
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 1;
        color: $text-point-third;
      }
    }
    .timeline_sub_title > div {
      display: flex;
      flex-direction: column;
    }
    .timeline_des {
      // margin-top: 0.5rem;
      // margin-bottom: 0.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      color: $text-color-second;
      // text-align: justify;
    }
  }
}

.project_image_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-block: 15px;
  }
}

.project_des {
  width: 100%;
}

.project_links {
  display: flex;
  justify-content: space-between;
  .project_link {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .timeline_list {
    flex-direction: row !important;
    .timeline_content {
      .timeline_title {
        font-size: 1rem !important;
      }
    }
    .timeline_company {
      font-size: 0.8rem !important;
    }
    .timeline_duration {
      display: none !important;
    }
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .timeline_list {
    flex-direction: row !important;
    .timeline_content {
      .timeline_title {
        font-size: 1.2rem !important;
      }
    }
  }
  .timeline_duration {
    display: none !important;
  }
}
