@use "./variables.scss" as *;

.timeline_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .timeline_item {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .timeline_container {
    flex-direction: row;
    .timeline_item {
      width: 90%;
    }
  }
}
