@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$body-color: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(151, 151, 151);

$text-color-second: rgb(110, 110, 110);
$text-point-third: rgb(31, 159, 171);
$job-point-third: #01474d;
$point-color: rgb(110, 87, 224);
$shadow-color: rgba(0, 0, 0, 0.1);
